<div class="page-header">
  <div class="page-header__container container">
    <div class="page-header__breadcrumb">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="index.html">Home</a>
            <svg class="breadcrumb-arrow" width="6px" height="9px">
              <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
            </svg>
          </li>
          <li class="breadcrumb-item">
            <a href="#">Breadcrumb</a>
            <svg class="breadcrumb-arrow" width="6px" height="9px">
              <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
            </svg>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Brandix Screwdriver SCREW1500ACC
          </li>
        </ol>
      </nav>
    </div>
  </div>
</div>

<div class="block">
  <div class="container">
    <div class="product product--layout--columnar">
      <app-product-content />
    </div>
    <div class="product-tabs">
      <div class="product-tabs__list">
        <p
          class="product-tabs__item product-tabs__item--active"
          [ngClass]="{ 'product-tabs__item--active': activeTab == 1 }"
          (click)="activeTab = 1"
        >
          Description
        </p>
        <p
          class="product-tabs__item"
          (click)="activeTab = 2"
          [ngClass]="{ 'product-tabs__item--active': activeTab == 2 }"
        >
          Specification
        </p>
        <p
          class="product-tabs__item"
          (click)="activeTab = 3"
          [ngClass]="{ 'product-tabs__item--active': activeTab == 3 }"
        >
          Reviews
        </p>
      </div>
      <div class="product-tabs__content">
        @if(activeTab==1){
        <app-product-description />
        }@else if(activeTab==2){
        <app-product-specification />
        }@else {
        <app-product-reviews />
        }
      </div>
    </div>
  </div>
</div>
<app-related-products />