<div class="product-card__rating">
    <div class="rating">
      <div class="rating__body">
        @for (fill of fillArray; track fill; let i = $index) {
          <svg
          class="rating__star rating__star--active"
          width="13px"
          height="12px"
        >
          <g class="rating__fill">
            <use xlink:href="images/sprite.svg#star-normal"></use>
          </g>
          <g class="rating__stroke">
            <use xlink:href="images/sprite.svg#star-normal-stroke"></use>
          </g>
        </svg>
        }    
        @for (nonfill of nonFillArray; track nonfill; let i = $index) {
          <svg class="rating__star" width="13px" height="12px">
            <g class="rating__fill">
              <use xlink:href="images/sprite.svg#star-normal"></use>
            </g>
            <g class="rating__stroke">
              <use xlink:href="images/sprite.svg#star-normal-stroke"></use>
            </g>
          </svg>
        }
      </div>
    </div>
    <!-- <div class="product-card__rating-legend">9 Reviews</div> -->
  </div>