<p-panel header="Create Category " [toggleable]="true" [collapsed]="isPanelCollapsed" class="line-height-3 m-0">
    <div class="flex">
        <div class="col-8">
            <form #inputForm="ngForm" [formGroup]="categoryFormService.formGroup" (ngSubmit)="onSubmit()">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label for="name">Name</label>
                        <input autocomplete="false" pInputText class="w-full" formControlName="name" id="name"
                            name="Name" type="text" />
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="description">Description</label>
                        <input autocomplete="false" pInputText class="w-full" formControlName="description"
                            id="description" name="Description" type="text" />
                    </div>
                    <div class="field col-6 md:col-3 boolForm">
                        <p for="isPopular">Is Popular :</p>
                        <p-toggleswitch formControlName="isPopular" inputId="isPopular" aria-label="Is Active :" />
                    </div>
                    <div class="field col-6 md:col-5 flex">
                        <div class="col-5 md:col-5 flex align-items-end">
                            <button pButton pRipple type="button" label="Choose Image" icon="pi pi-check" width="32"
                                (click)="openImageDialog('image',false)"></button>
                        </div>
                        @if(image){
                        <p-image [src]="image" width="100" [preview]="true"></p-image>
                        }
                    </div>
                    <div class="field col-6 md:col-4">
                        <span class="flex gap-2 justify-content-end">
                            <button pButton pRipple type="submit" [label]="model ? 'Update' : 'Save'"
                                icon="pi pi-check"></button>
                            <button pButton pRipple type="button" label="Clear" icon="pi pi-trash"
                                (click)="clearInputForm()"></button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-4">
            <app-category-tree [categoryTree]="categoryStateService.categoryTree()"
                (itemSelected)="handleItemSelection($event)" [parentId]="parentId" />
        </div>
    </div>
</p-panel>