<div class="block block--highlighted block-categories block-categories--layout--classic">
  <div class="container">
    <div class="block-header">
      <h3 class="block-header__title">Popular Categories</h3>
      <div class="block-header__divider"></div>
    </div>
    <div class="block-categories__list">
      @for (slide of categories(); track slide.id; let i = $index) {
      <div class="block-categories__item category-card">
        <app-category-card [category]="slide"/>
      </div>
      }
    </div>
  </div>
</div>