<div class="block block-brands">
  <div class="container">
    <div class="block-brands__slider">
      <swiper-container #swiper loop="true" autoplay-delay="2500" autoplay-disable-on-interaction="false" [slidesPerView]="slidesPerView" [spaceBetween]="spaceBetween">
        <swiper-slide>
          <div class="block-brands__item"><a href="#"><img src="images/logos/logo-1.png" alt=""></a>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="block-brands__item"><a href="#"><img src="images/logos/logo-2.png" alt=""></a>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="block-brands__item"><a href="#"><img src="images/logos/logo-3.png" alt=""></a>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="block-brands__item"><a href="#"><img src="images/logos/logo-4.png" alt=""></a>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="block-brands__item"><a href="#"><img src="images/logos/logo-5.png" alt=""></a>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="block-brands__item"><a href="#"><img src="images/logos/logo-6.png" alt=""></a>
          </div>
        </swiper-slide>
        <swiper-slide>
          <div class="block-brands__item"><a href="#"><img src="images/logos/logo-7.png" alt=""></a>
          </div>
        </swiper-slide>
      </swiper-container>
    </div>
  </div>
</div>
