<div class="widget-filters widget">
  <h4 class="widget__title">Filters</h4>
  <div class="widget-filters__list">
    <div class="widget-filters__item">
      <div class="filter filter--opened">
        <button type="button" class="filter__title" (click)="toggle($event)">
          Price
          <svg class="filter__arrow" width="12px" height="7px">
            <use xlink:href="images/sprite.svg#arrow-rounded-down-12x7"></use>
          </svg>
        </button>
        <div class="filter__body">
          <div class="filter__container">
            <p-slider [(ngModel)]="rangeValues" [range]="true" styleClass="w-56" 
            min="0" max="5000"/>
          </div>
        </div>
      </div>
    </div>
    <div class="widget-filters__item">
      <div class="filter filter--opened">
        <button type="button" class="filter__title" (click)="toggle($event)">
          Brand
          <svg class="filter__arrow" width="12px" height="7px">
            <use xlink:href="images/sprite.svg#arrow-rounded-down-12x7"></use>
          </svg>
        </button>
        <div class="filter__body">
          <div class="filter__container">
            <div class="filter-list">
              <div class="filter-list__list">
                @for (brand of brandData; track brand.image; let i = $index) {
                  <label class="filter-list__item"
                  ><span class="filter-list__input input-check"
                    ><span class="input-check__body"
                      ><input class="input-check__input" type="checkbox" />
                      <span class="input-check__box"></span>
                      <svg class="input-check__icon" width="9px" height="7px">
                        <use xlink:href="images/sprite.svg#check-9x7"></use>
                      </svg> </span></span
                  ><span class="filter-list__title">{{brand.name}} </span
                  ><span class="filter-list__counter">{{brand?.totalProduct??0}}</span></label
                >
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="widget-filters__actions d-flex">
    <button class="btn btn-primary btn-sm">Filter</button>
    <button class="btn btn-secondary btn-sm ml-2">Reset</button>
  </div>
</div>
