<p-panel header="{isEdit?'Edit':'Create'}} Product" [toggleable]="true" class="line-height-3 m-0">
    <p-steps [model]="PRODUCT_PAGE_STEP" [readonly]="false" [activeIndex]="activeIndex"
        (activeIndexChange)="change($event)" />
    <form #inputForm="ngForm" [formGroup]="productFormService.formGroup" (ngSubmit)="onSubmit()">
        <div class="card mt-4">
            <app-parent-information-create *ngIf="activeIndex==0" [parentForm]="parentInformationFrom" />
            <app-child-information-create *ngIf="activeIndex==1"  [chieldArrayForm]="chieldArrayForm"/>
        </div>
        <div class="col-6 md:col-3 p-fluid">
            <span class="flex gap-2">
                <button pButton pRipple type="submit" [label]="isEdit?'Update':'Save'" icon="pi pi-check"></button>
                <button pButton pRipple type="button" label="Clear" icon="pi pi-trash"
                    (click)="clearInputForm()"></button>
            </span>
        </div>
    </form>
</p-panel>
