<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden"
     style="background-image: url('assets/pages/auth/background.png'); background-repeat: no-repeat;
     background-size: cover; background-position: center;">
  <div class="flex flex-column align-items-center justify-content-center p-4">
    <div class="w-full surface-card py-5 px-5 custom-border-color" style="border-radius:30px">
      <router-outlet/>
      <p-steps [model]="optionItems" styleClass="mt-5 mb-6  " [readonly]="false"/>
    </div>
  </div>
</div>
