<div class="block block-products block-products--layout--large-first">
  <div class="container">
    <div class="block-header">
      <h3 class="block-header__title">Bestsellers</h3>
      <div class="block-header__divider"></div>
    </div>
    <div class="block-products__body">
      <div class="block-products__featured">
        <div class="block-products__featured-item">
          <app-product-vertical-card [showFeatures]="true" [product]="mainProduct()" />
          <app-product-horizontal-card [product]="mainProduct()" />
        </div>
      </div>
      <div class="block-products__list">
        @for (product of products(); track product; let i = $index) {
        <div class="block-products__list-item">
          <app-product-vertical-card [showFeatures]="false" [product]="product" />
        </div>
        }
      </div>
    </div>
  </div>
</div>