<div class="category-card__body">
  <div class="category-card__image"><a href="#"><img
              src="images/categories/category-6.jpg" alt=""></a></div>
  <div class="category-card__content">
      <div class="category-card__name"><a href="#">Clothes and PPE</a></div>
      <ul class="category-card__links">
          <li><a href="#">Winter Workwear</a></li>
          <li><a href="#">Summer Workwear</a></li>
          <li><a href="#">Helmets</a></li>
          <li><a href="#">Belts and Bags</a></li>
          <li><a href="#">Work Shoes</a></li>
      </ul>
      <div class="category-card__all"><a href="#">Show All</a></div>
      <div class="category-card__products">81 Products</div>
  </div>
</div>
