//Show Hide Dasktop and Mobile Bar.
.dasktop_header {
  display: none;
}

@media (min-width: 992px) {
  .mobile_header {
    display: none !important;
  }

  .dasktop_header {
    display: block !important;
  }
}


//3276
.departments {
  width: 255px;
  height: 42px;
  color: var(--text-color);
  position: relative
}

.departments__button {
  text-align: left;
  border: none;
  background: transparent;
  color: inherit;
  font-size: 15px;
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  cursor: default;
  font-weight: 500;
  padding: 0 32px 0 47px
}

.departments__button:focus {
  outline: none
}

.departments__button-icon {
  position: absolute;
  left: 16px;
  top: calc(50% - 7px);
  fill: var(--text-color);
  transition: fill .2s
}

.departments__button-arrow {
  position: absolute;
  right: 13px;
  top: calc(50% - 3px);
  fill: var(--text-color);
  transition: fill .2s, transform .2s
}

.departments__body {
  width: 100%;
  padding-top: 42px;
  position: absolute;
  background: var(--primary-color);
  box-shadow: none;
  border-radius: 2px
}

.departments__links {
  position: relative;
  list-style: none;
  padding: 0 0 14px;
  margin: 6px 0 0
}

.departments__links>li:hover .departments__menu {
  visibility: visible
}

.departments__links>li:hover>a {
  background: var(--text-color);
  color: var(--primary-color);
}

.departments__links>li>a {
  font-weight: 400;
  position: relative;
  display: block;
  padding: 10px 16px;
  color: inherit;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: .02em
}

.departments__item--menu {
  position: relative
}

.departments__link-arrow {
  right: 14px;
  top: calc(50% - 5px);
  position: absolute;
  fill: var(--text-color);
}

.departments__links>li:hover>a>svg {
  fill: var(--primary-color);
}

.departments__menu {
  position: absolute;
  left: 100%;
  top: 0;
  height: 100%;
  visibility: hidden
}

.departments__links-wrapper {
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: height .25s ease-in-out, opacity .25s ease-in-out
}

.departments:not(.departments--fixed) .departments__button {
  cursor: pointer
}

.departments:not(.departments--fixed) .departments__button:hover .departments__button-arrow,
.departments:not(.departments--fixed) .departments__button:hover .departments__button-icon {
  fill: currentColor
}

.departments--opened .departments__links-wrapper {
  overflow: visible;
  height: auto;
  opacity: 1
}

.departments--opened .departments__button-arrow {
  transform: rotate(180deg)
}

.departments--transition .departments__links-wrapper {
  overflow: hidden
}

@media (min-width:992px) and (max-width:1199px) {
  .departments {
    width: 210px
  }
}

.dropcart {
  font-size: 15px;
  width: 320px;
  font-weight: 400;
  color: var(--color-secondary);
  background: var(--color-secondary-background);
  box-shadow: 0 1px 15px rgba(0, 0, 0, .25)
}

@media (-ms-high-contrast:none),
screen and (-ms-high-contrast:active) {
  .dropcart {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15)
  }
}

.dropcart__products-list {
  padding: 20px 16px
}

.dropcart__product {
  display: -ms-flexbox;
  display: flex
}

.dropcart__product+.dropcart__product {
  margin-top: 24px
}

.dropcart__product-image {
  width: 70px;
  -ms-flex-negative: 0;
  flex-shrink: 0
}

.dropcart__product-image img {
  max-width: 100%
}

.dropcart__product-name {
  margin-top: -2px;
  line-height: 18px;
  font-size: 15px
}


.dropcart__product-info {
  margin: 0 10px 0 16px;
  -ms-flex-positive: 1;
  flex-grow: 1
}

.dropcart__product-options {
  list-style: none;
  margin: 3px 0 0;
  padding: 0;
  font-size: 13px;
  line-height: 16px;
  color: var(--color-secondary)
}

.dropcart__product-meta {
  margin-top: 5px;
  font-size: 13px
}

.dropcart__product-price {
  font-size: 14px;
  font-weight: 700
}

.dropcart__product-remove {
  margin-right: -6px;
  margin-top: -6px;
  -ms-flex-negative: 0;
  flex-shrink: 0
}

.dropcart__totals {
  border-top: 1px solid #ebebeb;
  line-height: 24px;
  padding: 16px 20px 0
}

.dropcart__totals th {
  padding-right: 16px
}

.dropcart__totals td {
  text-align: right
}

.dropcart__totals table {
  width: 100%
}

.dropcart__buttons {
  display: -ms-flexbox;
  display: flex;
  margin-top: 4px;
  padding: 20px
}

.dropcart__buttons>* {
  -ms-flex-positive: 1;
  flex-grow: 1
}

.dropcart__buttons>:first-child {
  margin-right: 8px
}

.indicator {
  color: none
}

.indicator,
.indicator__button {
  display: -ms-flexbox;
  display: flex
}

.indicator__button {
  -ms-flex-align: center;
  align-items: center;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  color: inherit;
  fill: currentColor
}

.indicator__button:focus {
  outline: none
}

.indicator__button:hover {
  color: inherit
}

.indicator__area {
  background: transparent;
  transition: background-color .2s;
  border-radius: 2px;
  height: 42px;
  padding: 0 14px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  fill:var(--text-color)
}

.indicator__value {
  height: 15px;
  font-size: 10px;
  padding: 0 5px;
  border-radius: 1000px;
  position: relative;
  top: -11px;
  margin-left: -5px;
  margin-right: -8px;
  background: var(--color-secondary-background);
  color: var(--color-secondary);
  font-weight: 700
}

.indicator__dropdown {
  top: 100%;
  right: 0;
  position: absolute;
  visibility: hidden;
  transform-origin: top;
  transform: rotateX(60deg);
  opacity: 0;
  transition: transform .2s, opacity .2s, visibility 0s .2s
}

.indicator--trigger--click.indicator--opened .indicator__button,
.indicator:hover .indicator__button {
  color: none
}

.indicator--trigger--click.indicator--opened .indicator__area,
.indicator:hover .indicator__area {
  background: hsla(0, 0%, 100%, .5);
  transition-duration: .1s
}

.indicator--trigger--click.indicator--opened .indicator__value,
.indicator:hover .indicator__value {
  background: var(--color-secondary-background);
  color: var(--color-secondary);
}

.indicator--trigger--click.indicator--opened .indicator__dropdown,
.indicator--trigger--hover:hover .indicator__dropdown {
  z-index: 1;
  transition-delay: 0s, 0s, 0s;
  opacity: 1;
  visibility: visible;
  transform: rotateX(0deg)
}

.indicator__icon {
  transition: transform .2s, opacity .2s
}

.indicator__icon--open {
  position: absolute
}

.indicator--trigger--click.indicator--opened .indicator__icon:not(.indicator__icon--open),
.indicator--trigger--click:not(.indicator--opened) .indicator__icon--open {
  transform: scale(0);
  opacity: 0
}

.indicator--mobile .indicator__area {
  height: 36px;
  padding: 0 10px
}

@media (min-width:992px) and (max-width:1199px) {
  .indicator__area {
    padding: 0 12px
  }
}

.menu {
  color: var(--color-secondary);
  background: var(--color-secondary-background);
  box-shadow: 0 1px 15px rgba(0, 0, 0, .25);
  list-style: none;
  width: 190px;
  padding: 10px 0;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: .02em;
  font-weight: 500
}

@media (-ms-high-contrast:none),
screen and (-ms-high-contrast:active) {
  .menu {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15)
  }
}

.menu>li {
  position: relative
}

.menu>li>a {
  display: block;
  padding: 8px 24px 6px 16px;
  color: inherit
}

.menu>li:hover>a {
  background: #f2f2f2
}

.menu>li:hover .menu__submenu {
  opacity: 1;
  visibility: visible;
  transform: rotateY(0deg)
}

.menu__icon {
  position: absolute;
  top: 3px;
  left: 15px
}

.menu__arrow {
  position: absolute;
  right: 12px;
  top: calc(50% - 5px);
  fill: var(--color-secondary);
}

.menu__submenu {
  top: -10px;
  left: 100%;
  position: absolute;
  visibility: hidden;
  transform-origin: left;
  transform: rotateY(45deg);
  opacity: 0;
  transition: transform .2s, opacity .2s
}

.menu--with-icons>li>a {
  padding-left: 50px
}

.menu--layout--topbar {
  padding: 6px 0;
  width: 150px;
  box-shadow: 0 1px 7px rgba(0, 0, 0, .25)
}

@media (-ms-high-contrast:none),
screen and (-ms-high-contrast:active) {
  .menu--layout--topbar {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, .15)
  }
}

.menu--layout--topbar>li>a {
  display: block;
  padding: 8px 21px 6px 13px;
  color: inherit
}

.menu--layout--topbar.menu--with-icons .menu__icon {
  position: absolute;
  top: 3px;
  left: 12px
}

.menu--layout--topbar.menu--with-icons>li>a {
  padding-left: 45px
}

.mobile-header {
  height: 54px
}

.mobile-header__panel {
  background: var(--primary-color);
  box-shadow: 0 1px rgba(0, 0, 0, .04), inset 0 -1px rgba(0, 0, 0, .04);
  color: var(--text-color);;
  position: relative
}

.mobile-header__body {
  height: 54px
}

.mobile-header__body,
.mobile-header__menu-button {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center
}

.mobile-header__menu-button {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
  border-radius: 2px;
  background: transparent;
  fill: var(--text-color);
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  transition: fill .2s, background .2s;
  -ms-flex-pack: center;
  justify-content: center
}

.mobile-header__menu-button:focus {
  outline: none
}

.mobile-header__menu-button:focus,
.mobile-header__menu-button:hover {
  background: hsla(0, 0%, 100%, .5);
  fill: var(--color-secondary);
}

.mobile-header__indicators {
  display: -ms-flexbox;
  display: flex;
  margin-left: auto
}

.mobile-header__logo {
  margin: 0 16px 0 12px;
  color: var(--text-color);
  fill: currentColor
}

.mobile-header__logo:hover {
  color: inherit
}

.mobile-header__logo svg {
  display: block
}

@media (min-width:576px) and (max-width:991px) {
  .mobile-header__search {
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-right: 8px;
    height: 36px;
    position: relative
  }

  .mobile-header__search input {
    position: relative;
    z-index: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    width: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    border: none;
    padding: 0 12px;
    margin: 0;
    font-family: inherit;
    font-size: 15px;
    color: inherit
  }

  .mobile-header__search input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .7)
  }

  .mobile-header__search input:-ms-input-placeholder,
  .mobile-header__search input::-ms-input-placeholder {
    color: rgba(0, 0, 0, .7)
  }

  .mobile-header__search input::placeholder {
    color: rgba(0, 0, 0, .7)
  }

  .mobile-header__search input:hover {
    color: inherit
  }

  .mobile-header__search input:hover::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .7)
  }

  .mobile-header__search input:hover:-ms-input-placeholder,
  .mobile-header__search input:hover::-ms-input-placeholder {
    color: rgba(0, 0, 0, .7)
  }

  .mobile-header__search input:hover::placeholder {
    color: rgba(0, 0, 0, .7)
  }

  .mobile-header__search input:focus {
    color: inherit;
    outline: none
  }

  .mobile-header__search input:focus::-webkit-input-placeholder {
    color: #999
  }

  .mobile-header__search input:focus:-ms-input-placeholder,
  .mobile-header__search input:focus::-ms-input-placeholder {
    color: #999
  }

  .mobile-header__search input:focus::placeholder {
    color: #999
  }

  .mobile-header__search input:hover~.mobile-header__search-button {
    fill: rgba(0, 0, 0, .3)
  }

  .mobile-header__search input:hover~.mobile-header__search-button:focus,
  .mobile-header__search input:hover~.mobile-header__search-button:hover {
    fill: var(--text-color);
  }

  .mobile-header__search input:hover~div {
    background: hsla(0, 0%, 100%, .8);
    box-shadow: none
  }

  .mobile-header__search input:focus~.mobile-header__search-button {
    fill: rgba(0, 0, 0, .3)
  }

  .mobile-header__search input:focus~.mobile-header__search-button:focus,
  .mobile-header__search input:focus~.mobile-header__search-button:hover {
    fill: var(--text-color);
  }

  .mobile-header__search input:focus~div {
    background: #fff;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .2)
  }

  .mobile-header__search div {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: hsla(0, 0%, 100%, .5);
    box-shadow: none;
    transition: all .2s;
    border-radius: 2px
  }

  .mobile-header__search-form {
    height: 100%;
    display: -ms-flexbox;
    display: flex
  }

  .mobile-header__search-button {
    position: relative;
    z-index: 1;
    border: none;
    padding: 0;
    margin: 0;
    width: 36px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
    fill: rgba(0, 0, 0, .3);
    transition: fill .2s
  }

  .mobile-header__search-button:focus {
    outline: none
  }

  .mobile-header__search-button:focus,
  .mobile-header__search-button:hover {
    fill: var(--color-secondary);
  }

  .mobile-header__search-button--close {
    display: none
  }
}

@media (max-width:575px) {
  .mobile-header__search {
    left: 0;
    top: 0;
    width: 100%;
    position: absolute;
    background: var(--color-secondary-background);
    box-shadow: 0 1px 7px rgba(0, 0, 0, .25);
    z-index: 1;
    transform: translateY(-100%);
    visibility: hidden;
    opacity: 0;
    transition: transform .3s, visibility 0s .3s, opacity .3s
  }

  .mobile-header__search form {
    height: 54px;
    display: -ms-flexbox;
    display: flex
  }

  .mobile-header__search input {
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    width: 0;
    background: transparent;
    border: none;
    padding: 0 0 0 15px
  }

  .mobile-header__search input:focus {
    outline: none
  }

  .mobile-header__search input::-webkit-input-placeholder {
    color: #999
  }

  .mobile-header__search input:-ms-input-placeholder,
  .mobile-header__search input::-ms-input-placeholder {
    color: #999
  }

  .mobile-header__search input::placeholder {
    color: #999
  }

  .mobile-header__search-button {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background: transparent;
    border: none;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 54px;
    cursor: pointer;
    fill: var(--color-secondary);
  }

  .mobile-header__search-button:focus {
    outline: none
  }

  .mobile-header__search-button:focus,
  .mobile-header__search-button:hover {
    fill: var(--color-secondary);
  }

  .mobile-header__search-button--close {
    border-left: 1px solid #ebebeb
  }
}

.mobile-links {
  list-style: none;
  padding: 0;
  margin: 0
}

.mobile-links__item {
  border-bottom: 1px solid #ebebeb
}

.mobile-links__item-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
  align-items: stretch;
  cursor: pointer
}

.mobile-links__item-link {
  -ms-flex-positive: 1;
  flex-grow: 1;
  color: var(--text-color);
}

.mobile-links__item-link,
.mobile-links__item-link:hover {
  color: inherit
}

.mobile-links__item-toggle {
  border: none;
  border-left: 1px solid #ebebeb;
  background: transparent;
  padding: 0;
  width: 54px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  cursor: inherit;
  fill: var(--color-secondary);
  transition: fill .2s
}

.mobile-links__item-toggle:focus {
  outline: none
}

.mobile-links__item-toggle:focus,
.mobile-links__item-toggle:hover {
  cursor: inherit
}

.mobile-links__item-arrow {
  transition: transform .3s
}

.mobile-links__item-sub-links {
  visibility: hidden;
  overflow: hidden;
  height: 0;
  opacity: 0;
  transition: height .3s, opacity .3s, visibility 0s .3s
}

.mobile-links__item--open>.mobile-links__item-sub-links {
  visibility: visible;
  height: auto;
  opacity: 1;
  transition-delay: 0s, 0s, 0s
}

.mobile-links__item--open>.mobile-links__item-title .mobile-links__item-arrow {
  transform: rotate(180deg) translateY(1px)
}

.mobile-links--level--0>.mobile-links__item {
  border-bottom: 1px solid #ebebeb
}

.mobile-links--level--0>.mobile-links__item>.mobile-links__item-title {
  height: 48px
}

.mobile-links--level--0>.mobile-links__item>.mobile-links__item-title .mobile-links__item-link {
  padding: 12px 20px
}

.mobile-links:not(.mobile-links--level--0) {
  border-top: 1px solid #ebebeb
}

.mobile-links--level--1 {
  background: #f7f7f7;
  font-size: 14px;
  line-height: 14px
}

.mobile-links--level--1 .mobile-links__item .mobile-links__item-link {
  padding: 13px 20px
}

.mobile-links--level--1 .mobile-links {
  padding-left: 20px;
  background: #fff
}

.mobile-links--level--1 .mobile-links>li {
  background: #f7f7f7;
  border-left: 1px solid #ebebeb
}

.mobile-links--level--1 .mobile-links__item:last-child {
  border-bottom: none
}

.mobilemenu {
  visibility: hidden;
  position: fixed;
  z-index: 1000;
  transition: visibility 0s .3s
}

.mobilemenu,
.mobilemenu__backdrop {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%
}

.mobilemenu__backdrop {
  position: absolute;
  background: var(--text-color);;
  opacity: 0;
  transition: opacity .3s
}

.mobilemenu__body {
  position: absolute;
  left: 0;
  top: 0;
  width: 290px;
  height: 100%;
  background: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, .4);
  transform: translateX(calc(-100% - 30px));
  transition: transform .3s;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column
}

.mobilemenu__header {
  height: 55px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #ebebeb
}

.mobilemenu__title {
  padding: 0 20px;
  font-weight: 700;
  -ms-flex-positive: 1;
  flex-grow: 1
}

.mobilemenu__close {
  border: none;
  border-left: 1px solid #ebebeb;
  background: transparent;
  height: 54px;
  width: 54px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  cursor: pointer;
  fill: #999;
  transition: fill .2s
}

.mobilemenu__close:focus {
  outline: none
}

.mobilemenu__close:focus,
.mobilemenu__close:hover {
  fill: var(--text-color);
}

.mobilemenu__content {
  -ms-flex-positive: 1;
  padding: 0;
  flex-grow: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch
}

.mobilemenu--open {
  visibility: visible;
  transition-delay: 0s
}

.mobilemenu--open .mobilemenu__backdrop {
  opacity: .9
}

.mobilemenu--open .mobilemenu__body {
  transform: translateX(0)
}

.nav-links {
  height: 100%
}

.nav-links__list {
  height: inherit;
  z-index: 10;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0
}

.nav-links__item {
  height: 100%
}

.nav-links__item>a {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  font-size: 15px;
  line-height: 1;
  letter-spacing: .02em;
  font-weight: 700;
  color: var(--text-color);
}

.nav-links__item>a span {
  background: transparent;
  box-shadow: none
}

.nav-links__item>a svg {
  fill: rgba(0, 0, 0, .3)
}

.nav-links__item>a>span {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  background: transparent;
  transition: background-color .2s;
  padding: 0 14px;
  height: 42px;
  border-radius: 2px
}

.nav-links__item:hover>a {
  color: inherit
}

.nav-links__item:hover>a span {
  background: hsla(0, 0%, 100%, .5);
  box-shadow: none
}

.nav-links__item:hover>a svg {
  fill: rgba(0, 0, 0, .3)
}

.nav-links__item:hover>a>span {
  transition-duration: .1s
}

.nav-links__item:hover .nav-links__arrow {
  transform: rotate(180deg)
}

.nav-links__item:hover .nav-links__megamenu,
.nav-links__item:hover .nav-links__menu {
  opacity: 1;
  visibility: visible;
  transform: rotateX(0deg)
}

.nav-links__item--menu {
  position: relative
}

.nav-links__item--with-submenu>a span {
  position: relative;
  padding-right: 27px
}

.nav-links__item--with-submenu>a svg {
  right: 12px;
  top: calc(50% - 3px);
  position: absolute
}

.nav-links__megamenu,
.nav-links__menu {
  top: 100%;
  position: absolute;
  visibility: hidden;
  transform-origin: top;
  transform: rotateX(45deg);
  opacity: 0;
  transition: transform .2s, opacity .2s
}

.nav-links__megamenu {
  left: 0
}

.nav-links__megamenu--size--xs {
  width: 16.66667%
}

.nav-links__megamenu--size--sm {
  width: 33.33333%
}

.nav-links__megamenu--size--nl {
  width: 50%
}

.nav-links__megamenu--size--md {
  width: 66.66667%
}

.nav-links__megamenu--size--lg {
  width: 83.33333%
}

.nav-links__megamenu--size--xl {
  width: 100%
}

@media (min-width:992px) and (max-width:1199px) {
  .nav-links__item>a>span {
    padding: 0 10px
  }

  .nav-links__item--with-submenu>a>span {
    padding-right: 23px
  }

  .nav-links__item--with-submenu>a svg {
    right: 8px
  }
}

.nav-panel {
  height: 54px;
  background: var(--primary-color);
  box-shadow: 0 1px rgba(0, 0, 0, .04), inset 0 -1px rgba(0, 0, 0, .04);
  color: var(--color-secondary)
}

.nav-panel--stuck {
  z-index: 10;
  width: 100%;
  position: fixed;
  top: 0;
  box-shadow: 0 1px rgba(0, 0, 0, .04), inset 0 -1px rgba(0, 0, 0, .04), 0 1px 20px rgba(0, 0, 0, .15)
}

.nav-panel__container {
  height: 100%
}

.nav-panel__row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  height: 100%
}

.nav-panel__logo svg {
  display: block;
  fill: var(--text-color);
}

.nav-panel__departments {
  -ms-flex-negative: 0;
  flex-shrink: 0
}

.nav-panel__departments+.nav-panel__nav-links,
.nav-panel__logo+.nav-panel__nav-links {
  margin-left: 18px
}

.nav-panel__nav-links {
  margin-right: 18px
}

.nav-panel__indicators {
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-left: auto
}

@media (min-width:992px) and (max-width:1199px) {
  .nav-panel__nav-links {
    margin-left: 14px;
    margin-right: 14px
  }
}

//4632
.search__form {
  position: relative;
  height: 42px;
  display: -ms-flexbox;
  display: flex
}

.search__border {
  z-index: -1;
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  transition: box-shadow .15s, background .15s
}

.search__input {
  border: none;
  padding: 0 17px;
  background: transparent;
  width: 1px;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-size: 15px;
  transition: color .15s;
  color: inherit
}

.search__input::-webkit-input-placeholder {
  color: #999
}

.search__input:-ms-input-placeholder,
.search__input::-ms-input-placeholder {
  color: #999
}

.search__input::placeholder {
  color: #999
}

.search__input~.search__border {
  background: transparent;
  box-shadow: inset 0 0 0 2px #e5e5e5
}

.search__input:hover {
  color: inherit
}

.search__input:hover::-webkit-input-placeholder {
  color: #999
}

.search__input:hover:-ms-input-placeholder,
.search__input:hover::-ms-input-placeholder {
  color: #999
}

.search__input:hover::placeholder {
  color: #999
}

.search__input:hover~.search__border {
  background: transparent;
  box-shadow: inset 0 0 0 2px #d4d4d4
}

.search__input:hover~.search__button {
  fill: #bfbfbf
}

.search__input:hover~.search__button:hover {
  fill: var(--primary-color)
}

.search__input:focus {
  outline: none;
  color: inherit
}

.search__input:focus::-webkit-input-placeholder {
  color: #999
}

.search__input:focus:-ms-input-placeholder,
.search__input:focus::-ms-input-placeholder {
  color: #999
}

.search__input:focus::placeholder {
  color: #999
}

.search__input:focus~.search__border {
  background: transparent;
  box-shadow: inset 0 0 0 2px var(--primary-color)
}

.search__input:focus~.search__button {
  fill: #bfbfbf
}

.search__input:focus~.search__button:hover {
  fill: var(--primary-color)
}

.search__button {
  border: none;
  padding: 0;
  background: transparent;
  -ms-flex-positive: 0;
  flex-grow: 0;
  width: 42px;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  fill: #bfbfbf;
  transition: fill .15s
}

.search__button:focus,
.search__button:hover {
  outline: none;
  fill: var(--primary-color)
}

.site-header {
  position: relative;
  z-index: 100;
  background: transparent;
  color: inherit
}

.site-header__middle {
  height: 104px
}

.site-header__logo,
.site-header__middle {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center
}

.site-header__logo {
  width: 255px;
  margin-right: 30px;
  -ms-flex-pack: center;
  justify-content: center;
  color: inherit
}

.site-header__logo a {
  color: inherit
}

.site-header__logo svg {
  fill: currentColor
}

.site-header__search {
  -ms-flex-positive: 1;
  flex-grow: 1
}

.site-header__phone {
  line-height: 1;
  text-align: right;
  margin-left: 80px
}

.site-header__phone-title {
  font-size: 14px;
  color: #999;
  margin-bottom: 6px
}

.site-header__phone-number {
  font-size: 20px;
  font-weight: 700
}

.site-header__nav-panel {
  height: 54px
}

@media (min-width:992px) and (max-width:1199px) {
  .site-header__logo {
    width: 210px;
    margin-right: 24px;
    -ms-flex-pack: start;
    justify-content: flex-start
  }
}

//4836
.topbar {
  height: 32px;
  background: #f7f7f7;
  box-shadow: none;
  border-bottom: none;
  font-size: 14px;
  line-height: 14px;
  color: #737373;
  position: relative;
  z-index: 20
}

.topbar__container {
  height: 100%
}

.topbar__item,
.topbar__row {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin: 0
}

.topbar__item-value {
  color: var(--primary-color);
  transition: all .1s
}

.topbar__spring {
  -ms-flex-positive: 1;
  flex-grow: 1
}

.topbar__item--link+.topbar__item--link {
  margin-left: 16px
}

.topbar-dropdown,
.topbar-dropdown__btn {
  position: relative;
  height: 100%
}

.topbar-dropdown__btn {
  border: none;
  padding: 0 20px 0 10px;
  cursor: pointer;
  transition: all .1s;
  background: transparent;
  color: inherit;
  fill: var(--color-secondary);
}

.topbar-dropdown__btn:focus {
  outline: none
}

.topbar-dropdown__btn svg {
  position: absolute;
  right: 7px;
  top: calc(50% - 4px)
}

.topbar-dropdown__body {
  position: absolute;
  right: 0;
  top: 100%;
  visibility: hidden;
  transform-origin: top;
  transform: rotateX(60deg);
  opacity: 0;
  transition: transform .2s, opacity .2s, visibility 0s .2s
}

.topbar-dropdown--opened .topbar-dropdown__btn,
.topbar-dropdown__btn:focus,
.topbar-dropdown__btn:hover {
  background: var(--color-secondary-background);
  color: var(--color-secondary);
  fill: #999
}

.topbar-dropdown--opened .topbar-dropdown__btn .topbar__item-value,
.topbar-dropdown__btn:focus .topbar__item-value,
.topbar-dropdown__btn:hover .topbar__item-value {
  color: var(--primary-color)
}

.topbar-dropdown--opened .topbar-dropdown__btn svg {
  transform: rotate(180deg);
}

.topbar-dropdown--opened .topbar-dropdown__body {
  z-index: 1;
  transition-delay: 0s, 0s, 0s;
  opacity: 1;
  visibility: visible;
  transform: rotateX(0deg)
}

.topbar-link {
  color: inherit;
  transition: color .3s
}

.topbar-link:hover {
  color: var(--primary-color)
}

//4943