<div class="product__content">
  <!-- .product__gallery -->
  <div class="product__gallery">
    <div class="product-gallery">
      <div class="product-gallery__featured">
        <img [src]="activeImage" alt="" />
      </div>
      <div class="product-gallery__carousel">
        <swiper-container #swiper [slidesPerView]="slidesPerView" [spaceBetween]="spaceBetween" autoplay="true"
          loop="true">
          @for (image of productDetails()?.images; track image; let i = $index) {
          <swiper-slide class="product-gallery__carousel-item" [ngClass]="{
              'product-gallery__carousel-item--active': activeIndex == i
            }"><img class="product-gallery__carousel-image" [src]="image" alt="" (click)="activeIndex = i" />
          </swiper-slide>
          }
        </swiper-container>
      </div>
    </div>
  </div>

  <!-- .product__gallery / end --><!-- .product__info -->
  <div class="product__info">
    <div class="product__wishlist-compare">
      <button type="button" class="btn btn-sm btn-light btn-svg-icon" title="Wishlist">
        <svg width="16px" height="16px">
          <use xlink:href="images/sprite.svg#wishlist-16"></use>
        </svg>
      </button>
      <!-- <button type="button" class="btn btn-sm btn-light btn-svg-icon" title="Compare">
        <svg width="16px" height="16px">
          <use xlink:href="images/sprite.svg#compare-16"></use>
        </svg>
      </button> -->
    </div>
    <h1 class="product__name">{{productDetails()?.name}}</h1>
    <app-product-rating-bar [star]="3" />
    <div class="product__description">
      {{productDetails()?.shortDesc}}
    </div>
    <ul class="product__features">
      @for (ingredient of selectedProduct()?.ingredients; track ingredient?.key; let i = $index) {
      <li>{{ingredient?.key}} : {{ingredient?.value}}</li>
      }
    </ul>
    <ul class="product__meta">
      <li class="product__meta-availability">
        Availability: <span class="text-success">In Stock</span>
      </li>
      <li>Brand: {{productDetails()?.brand?.name}}</li>
      <li>SKU: {{selectedProduct()?.sku}}</li>
    </ul>
  </div>
  <!-- .product__info / end --><!-- .product__sidebar -->
  <div class="product__sidebar">
    <div class="product__availability">
      Availability: <span class="text-success">{{selectedProduct()?.activeOnline?'':'Not '}}In Stock</span>
    </div>
    <div class="product__prices">{{selectedProduct()?.price}}</div>
    <!-- .product__options -->
    <form class="product__options">
      @for (varient of varientsValue; track varient; let i = $index) {
      <div class="form-group product__option">
        <label class="product__option-label">{{varient }}</label>
        <div class="input-radio-label">
          <div class="input-radio-label__list">
            @for (value of varients[varient]; track value; let i = $index) {
            <label>
              <input type="radio" [name]="'material'+varient" [checked]="isChacked(value.id)"
                (change)="changeVariationSelection(value.id,varient)" />
              <span>{{value.name}}</span>
            </label>
            }
          </div>
        </div>
      </div>
      }
      <div class="form-group product__option">
        <label class="product__option-label" for="product-quantity">Quantity</label>
        <div class="product__actions">
          <div class="product__actions-item">
            <div class="input-number product__quantity">
              <input id="product-quantity" class="input-number__input form-control form-control-lg" type="number"
                min="1" value="1" />
              <div class="input-number__add"></div>
              <div class="input-number__sub"></div>
            </div>
          </div>
          <div class="product__actions-item product__actions-item--addtocart">
            <button class="btn btn-primary btn-lg">Add to cart</button>
          </div>
          <div class="product__actions-item product__actions-item--wishlist">
            <button type="button" class="btn btn-secondary btn-svg-icon btn-lg" data-toggle="tooltip" title="Wishlist">
              <svg width="16px" height="16px">
                <use xlink:href="images/sprite.svg#wishlist-16"></use>
              </svg>
            </button>
          </div>
          <div class="product__actions-item product__actions-item--compare">
            <button type="button" class="btn btn-secondary btn-svg-icon btn-lg" data-toggle="tooltip" title="Compare">
              <svg width="16px" height="16px">
                <use xlink:href="images/sprite.svg#compare-16"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </form>
    <!-- .product__options / end -->
  </div>
  <!-- .product__end -->
  <div class="product__footer">
    <div class="product__tags tags">
      <div class="tags__list">
        @for (tag of productDetails()?.tags; track tag; let i = $index) {
        <p>{{tag.name}}</p>
        }
      </div>
    </div>
    <div class="product__share-links share-links">
      <ul class="share-links__list">
        <li class="share-links__item share-links__item--type--like">
          <a href="#">Like</a>
        </li>
        <li class="share-links__item share-links__item--type--tweet">
          <a href="#">Tweet</a>
        </li>
        <li class="share-links__item share-links__item--type--pin">
          <a href="#">Pin It</a>
        </li>
        <li class="share-links__item share-links__item--type--counter">
          <a href="#">4K</a>
        </li>
      </ul>
    </div>
  </div>
</div>