<div class="text-center mb-5">
  <div class="text-900 text-3xl font-medium mb-3">Welcome to Family Bonding!</div>
</div>
<form [formGroup]="loginForm">
  <label for="username" class="block mb-2">Username</label>
  <input id="username" type="text" placeholder="Enter Email " pInputText class="w-full md:w-30rem mb-5"
         style="padding:1rem" formControlName="username">
  <label for="password" class="block mb-2">Password</label>
  <p-password id="password" inputId="password" formControlName="password" placeholder="Password" [toggleMask]="true"
              styleClass="mb-5 w-12" inputStyleClass="w-full p-3 md:w-30rem" autocomplete="password"/>
  <div class="flex align-items-center justify-content-end mb-5 gap-5">
    <a class="font-medium no-underline ml-2 text-right cursor-pointer" style="color: var(--primary-color)" routerLink="/auth/forgot-password">Forgot
      password?</a>
  </div>
  <button pButton pRipple label="Sign In" class="w-full p-3 text-xl" (click)="login()"></button>
</form>
