<div class="relative">
  <div class="carousel-wrapper overflow-hidden">
    <div
      class="flex transition-transform duration-300"
      [style.transform]="'translateX(-' + currentIndex * 100 + '%)'"
    >
      <div class="carousel-item" *ngFor="let item of items">
        <img [src]="item.image" alt="{{ item.alt }}" class="w-full h-auto" />
      </div>
    </div>
  </div>
  <button
    (click)="prev()"
    class="absolute left-0 top-1/2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded"
  >
    Prev
  </button>
  <button
    (click)="next()"
    class="absolute right-0 top-1/2 transform -translate-y-1/2 bg-gray-800 text-white p-2 rounded"
  >
    Next
  </button>
</div>

<div class="py-6 sm:py-10 lg:px-0 lg:px-0 px-4">
  <div class="flex justify-between mb-5">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">Most Sales</h2>
    <a href="/product-list">View More -> </a>
  </div>
  <app-product-list-shared />
</div>

<div class="py-6 sm:py-10 lg:px-0 lg:px-0 px-4">
  <div class="flex justify-between mb-5">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">New</h2>
    <a href="/product-list">View More -> </a>
  </div>
  <app-product-list-shared />
</div>

<div class="py-6 sm:py-10 lg:px-0 lg:px-0 px-4">
  <div class="flex justify-between mb-5">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">Featured</h2>
    <a href="/product-list">View More -> </a>
  </div>
  <app-product-list-shared />
</div>
