//471
.breadcrumb {
  background: transparent;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 0
}

.breadcrumb-item {
  position: relative;
  padding-right: 30px
}

.breadcrumb-item a {
  color: inherit;
  transition: color .15s
}

.breadcrumb-item a:hover {
  color: #1a66ff
}

.breadcrumb-item+.breadcrumb-item {
  padding-left: 0
}

.breadcrumb-item+.breadcrumb-item:before {
  display: none
}

.breadcrumb-item.active {
  color: #999
}

.breadcrumb-arrow {
  fill: #d1d1d1;
  position: absolute;
  right: 11px;
  top: 5px
}

.btn {
  border-radius: 2px;
  transition: all .1s ease-in-out;
  font-size: 1rem;
  height: calc(2.25rem + 2px);
  line-height: 1.5;
  padding: .375rem 1.25rem;
  font-weight: 500
}

.btn.btn-svg-icon {
  width: calc(2.25rem + 2px)
}

.btn-lg {
  font-size: 1.125rem;
  height: calc(2.75rem + 2px);
  padding: .8125rem 2rem;
  line-height: 1;
  font-weight: 500
}

.btn-lg.btn-svg-icon {
  width: calc(2.75rem + 2px)
}

.btn-xl {
  font-size: 1.375rem;
  height: calc(3.625rem + 2px);
  padding: 1.125rem 3rem;
  line-height: 1;
  font-weight: 500
}

.btn-xl.btn-svg-icon {
  width: calc(3.625rem + 2px)
}

.btn-sm {
  font-size: .875rem;
  height: calc(1.875rem + 2px);
  line-height: 1.25;
  padding: .375rem 1rem;
  font-weight: 500
}

.btn-sm.btn-svg-icon {
  width: calc(1.875rem + 2px)
}

.btn-xs {
  font-size: .8125rem;
  height: calc(1.5rem + 2px);
  line-height: 1.25;
  padding: .25rem .5625rem;
  font-weight: 500
}

.btn-xs.btn-svg-icon {
  width: calc(1.5rem + 2px)
}

.btn-svg-icon {
  padding: 0;
  position: relative
}

.btn-svg-icon svg {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%)
}

.btn-svg-icon--fake-svg .fake-svg-icon {
  transition: all .1s ease-in-out;
  display: none
}

@supports (-ms-ime-align:auto) {
  .btn-svg-icon--fake-svg svg {
    display: none
  }

  .btn-svg-icon--fake-svg .fake-svg-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: block;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center
  }
}

.btn-primary.focus,
.btn-primary:focus,
.btn-primary:hover {
  border-color: #3d464d;
  background: #3d464d;
  color: #fff;
  fill: #fff
}

.btn-primary.focus .fake-svg-icon,
.btn-primary:focus .fake-svg-icon,
.btn-primary:hover .fake-svg-icon {
  color: #fff
}

.btn-primary.focus,
.btn-primary:focus {
  box-shadow: none
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active {
  border-color: #546069;
  background: #546069;
  color: #fff;
  fill: #fff
}

.btn-primary:not(:disabled):not(.disabled).active .fake-svg-icon,
.btn-primary:not(:disabled):not(.disabled):active .fake-svg-icon {
  color: #fff
}

.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: none
}

.btn-primary,
.btn-primary.disabled,
.btn-primary:disabled {
  border-color: var(--primary-color);
  background: var(--primary-color);
  color: #3d464d;
  fill: #3d464d
}

.btn-primary.disabled .fake-svg-icon,
.btn-primary .fake-svg-icon,
.btn-primary:disabled .fake-svg-icon {
  color: #3d464d
}

.btn-primary.btn-loading:not(:disabled):not(.disabled),
.btn-primary.btn-loading:not(:disabled):not(.disabled).active,
.btn-primary.btn-loading:not(:disabled):not(.disabled):active {
  cursor: default;
  border-color: var(--primary-color);
  background: var(--primary-color)
}

.btn-secondary.focus,
.btn-secondary:focus,
.btn-secondary:hover {
  border-color: #3d464d;
  background: #3d464d;
  color: #fff;
  fill: #fff
}

.btn-secondary.focus .fake-svg-icon,
.btn-secondary:focus .fake-svg-icon,
.btn-secondary:hover .fake-svg-icon {
  color: #fff
}

.btn-secondary.focus,
.btn-secondary:focus {
  box-shadow: none
}

.btn-secondary:not(:disabled):not(.disabled).active,
.btn-secondary:not(:disabled):not(.disabled):active {
  border-color: #546069;
  background: #546069;
  color: #fff;
  fill: #fff
}

.btn-secondary:not(:disabled):not(.disabled).active .fake-svg-icon,
.btn-secondary:not(:disabled):not(.disabled):active .fake-svg-icon {
  color: #fff
}

.btn-secondary:not(:disabled):not(.disabled).active:focus,
.btn-secondary:not(:disabled):not(.disabled):active:focus {
  box-shadow: none
}

.btn-secondary,
.btn-secondary.disabled,
.btn-secondary:disabled {
  border-color: #f0f0f0;
  background: #f0f0f0;
  color: #3d464d;
  fill: #3d464d
}

.btn-secondary.disabled .fake-svg-icon,
.btn-secondary .fake-svg-icon,
.btn-secondary:disabled .fake-svg-icon {
  color: #3d464d
}

.btn-secondary.btn-loading:not(:disabled):not(.disabled),
.btn-secondary.btn-loading:not(:disabled):not(.disabled).active,
.btn-secondary.btn-loading:not(:disabled):not(.disabled):active {
  cursor: default;
  border-color: #f0f0f0;
  background: #f0f0f0
}

.btn-light.focus,
.btn-light:focus,
.btn-light:hover {
  border-color: #f0f0f0;
  background: #f0f0f0;
  color: #3d464d;
  fill: #3d464d
}

.btn-light.focus .fake-svg-icon,
.btn-light:focus .fake-svg-icon,
.btn-light:hover .fake-svg-icon {
  color: #3d464d
}

.btn-light.focus,
.btn-light:focus {
  box-shadow: none
}

.btn-withlisted {
  color: rgb(21, 196, 21) !important;
  fill: rgb(21, 196, 21) !important;
}


.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active {
  border-color: #e5e5e5;
  background: #e5e5e5;
  color: #3d464d;
  fill: #3d464d
}

.btn-light:not(:disabled):not(.disabled).active .fake-svg-icon,
.btn-light:not(:disabled):not(.disabled):active .fake-svg-icon {
  color: #3d464d
}

.btn-light:not(:disabled):not(.disabled).active:focus,
.btn-light:not(:disabled):not(.disabled):active:focus {
  box-shadow: none
}

.btn-light,
.btn-light.disabled,
.btn-light:disabled {
  border-color: transparent;
  background: transparent;
  color: #3d464d;
  fill: #ccc
}

.btn-light.disabled .fake-svg-icon,
.btn-light .fake-svg-icon,
.btn-light:disabled .fake-svg-icon {
  color: #ccc
}

.btn-light.btn-loading:not(:disabled):not(.disabled),
.btn-light.btn-loading:not(:disabled):not(.disabled).active,
.btn-light.btn-loading:not(:disabled):not(.disabled):active {
  cursor: default;
  border-color: transparent;
  background: transparent
}

.btn-loading {
  position: relative
}

.btn-loading,
.btn-loading.disabled,
.btn-loading.focus,
.btn-loading:disabled,
.btn-loading:focus,
.btn-loading:hover,
.btn-loading:not(:disabled):not(.disabled).active,
.btn-loading:not(:disabled):not(.disabled):active {
  color: transparent;
  fill: transparent
}

.btn-loading:after {
  display: block;
  content: "";
  position: absolute;
  border: 2px solid rgba(0, 0, 0, .1);
  border-top-color: rgba(0, 0, 0, .5);
  transition: border-color .1s;
  animation-name: a;
  animation-duration: .5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  left: calc(50% - 11px);
  top: calc(50% - 11px);
  width: 22px;
  height: 22px;
  border-radius: 11px
}

.btn-loading.btn-xl:after {
  left: calc(50% - 21px);
  top: calc(50% - 21px);
  width: 42px;
  height: 42px;
  border-radius: 21px
}

.btn-loading.btn-lg:after {
  left: calc(50% - 14px);
  top: calc(50% - 14px);
  width: 28px;
  height: 28px;
  border-radius: 14px
}

.btn-loading.btn-sm:after {
  left: calc(50% - 8px);
  top: calc(50% - 8px);
  width: 16px;
  height: 16px;
  border-radius: 8px
}

.btn-loading.btn-xs:after {
  left: calc(50% - 7px);
  top: calc(50% - 7px);
  width: 14px;
  height: 14px;
  border-radius: 7px
}

label {
  margin-bottom: .25rem;
  display: inline-block;
}

.form-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}

.form-row>.col,
.form-row>[class*=col-] {
  padding-right: 5px;
  padding-left: 5px;
}

.form-group {
  margin-bottom: 1.5rem
}

.form-check {
  padding-left: 1.5rem
}

.form-check-input {
  position: absolute;
  margin-top: .1875rem;
  margin-left: -1.5rem
}

.form-control {
  border-radius: 2px;
  line-height: 1.25
}

.form-control-sm {
  height: calc(1.875rem + 2px);
  line-height: 1.25;
  padding: .3125rem .5rem
}

.form-control-lg {
  height: calc(2.75rem + 2px);
  line-height: 1.25
}

.form-control.is-invalid,
.form-control.is-valid,
.form-control:invalid,
.form-control:valid {
  background-image: none
}

select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none
}

select.form-control::-ms-expand {
  display: none
}

select.form-control,
select.form-control.is-invalid,
select.form-control.is-valid,
select.form-control:invalid,
select.form-control:valid {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 5 10'%3E%3Cpath fill='%234d4d4d' d='M4.503 4H.497c-.403 0-.639-.508-.408-.878L2.095.233a.469.469 0 0 1 .816 0l2 2.889c.231.37-.005.878-.408.878zM.497 6h4.006c.403 0 .639.504.408.871L2.905 9.737a.47.47 0 0 1-.816 0l-2-2.866C-.142 6.504.094 6 .497 6z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 5px 10px;
  background-position: right .75rem center;
  padding-right: calc(.75rem * 2 + 5px)
}

select.form-control-sm,
select.form-control-sm.is-invalid,
select.form-control-sm.is-valid,
select.form-control-sm:invalid,
select.form-control-sm:valid {
  background-position: right .5rem center;
  padding-right: calc(.5rem * 2 + 5px)
}

select.form-control-lg,
select.form-control-lg.is-invalid,
select.form-control-lg.is-valid,
select.form-control-lg:invalid,
select.form-control-lg:valid {
  background-position: right 1rem center;
  padding-right: calc(1rem * 2 + 5px)
}

.input-check {
  display: inline-block
}

.input-check__body {
  display: block;
  position: relative;
  width: 16px;
  height: 16px
}

.input-check__input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: inherit
}

.input-check__box {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 1.2px;
  background: #fff;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .15);
  transition: background .15s, box-shadow .15s
}

.input-check__icon {
  position: absolute;
  left: 4px;
  top: 5px;
  fill: #fff;
  transform: scale(0);
  transition: fill .15s, transform .15s, visibility 0s .15s
}

.input-check__input:checked~.input-check__box {
  background: var(--primary-color);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .05)
}

.input-check__input:checked~.input-check__icon {
  fill: #3d464d;
  transition-delay: 0s, 0s, 0s;
  transform: scale(1)
}

.input-check__input:disabled~.input-check__box {
  background: #f2f2f2;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1)
}

.input-check__input:disabled~.input-check__icon {
  fill: rgba(0, 0, 0, .2)
}

.input-check-color {
  display: inline-block
}

.input-check-color__body {
  display: block;
  position: relative;
  width: 22px;
  height: 22px;
  border-radius: 1.2px;
  overflow: hidden;
  cursor: inherit;
  margin: 0
}

.input-check-color__input {
  position: absolute;
  visibility: hidden
}

.input-check-color__box {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 1.2px;
  background: currentColor;
  cursor: inherit
}

.input-check-color__icon {
  position: absolute;
  left: 5px;
  top: 6px;
  fill: #fff;
  transform: scale(0);
  transition: transform .15s
}

.input-check-color__input:checked~.input-check-color__icon {
  transform: scale(1)
}

.input-check-color__input:disabled {
  cursor: default
}

.input-check-color__input:disabled~.input-check-color__box {
  position: relative;
  left: 0;
  top: 0;
  width: 22px;
  height: 22px;
  opacity: .5;
  cursor: default
}

.input-check-color__input:disabled~.input-check-color__stick {
  pointer-events: none;
  display: block;
  position: absolute;
  width: 2px;
  border-radius: 1px;
  height: 34px;
  left: calc(50% - 1px);
  top: -6px;
  background: hsla(0, 0%, 40%, .9);
  transform: rotate(45deg);
  transform-origin: center center
}

.input-check-color--light .input-check-color__icon {
  fill: #3d464d
}

.input-check-color--white .input-check-color__box {
  box-shadow: inset 0 0 0 2px #d9d9d9
}

.input-check-color--white .input-check-color__icon {
  fill: #bfbfbf
}

.input-number {
  display: block;
  width: 100%;
  position: relative
}

.input-number__input {
  -moz-appearance: textfield;
  display: block;
  width: 100%;
  min-width: 88px;
  padding: 0 24px 1px;
  text-align: center
}

.input-number__input::-webkit-inner-spin-button,
.input-number__input::-webkit-outer-spin-button {
  -webkit-appearance: none
}

.input-number__add,
.input-number__sub {
  position: absolute;
  height: 100%;
  width: 24px;
  top: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: .3;
  transition: opacity .18s
}

.input-number__add:after,
.input-number__add:before,
.input-number__sub:after,
.input-number__sub:before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background: currentColor
}

.input-number__add:before,
.input-number__sub:before {
  width: 8px;
  height: 2px
}

.input-number__add:hover,
.input-number__sub:hover {
  opacity: 1
}

.input-number__sub {
  left: 1px
}

.input-number__add {
  right: 1px
}

.input-number__add:after {
  width: 2px;
  height: 8px
}

.input-radio {
  display: inline-block
}

.input-radio__body {
  display: block;
  position: relative;
  width: 16px;
  height: 16px
}

.input-radio__input {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  cursor: inherit
}

.input-radio__circle {
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background: #fff;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .17);
  transition: background .2s, box-shadow .2s
}

.input-radio__circle:after {
  display: block;
  content: "";
  position: absolute;
  left: 5px;
  top: 5px;
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background: #fff;
  transform: scale(0);
  transition: background .2s, transform .2s, visibility 0s .2s;
  visibility: hidden
}

.input-radio__input:checked~.input-radio__circle {
  background: var(--primary-color);
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .08)
}

.input-radio__input:checked~.input-radio__circle:after {
  background: #3d464d;
  visibility: visible;
  transition-delay: 0s, 0s, 0s;
  transform: scale(1)
}

.input-radio__input:disabled~.input-radio__circle {
  background: #f2f2f2;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .12)
}

.input-radio__input:disabled~.input-radio__circle:after {
  background: rgba(0, 0, 0, .2)
}

.input-radio-color {
  display: block
}

.input-radio-color__list {
  padding: 1px 0;
  display: -ms-flexbox;
  display: flex;
  margin: -2px
}

.input-radio-color__item {
  width: 30px;
  height: 30px;
  display: block;
  margin: 2px;
  cursor: pointer
}

.input-radio-color__item input {
  pointer-events: none;
  opacity: 0;
  position: absolute
}

.input-radio-color__item span {
  position: relative;
  width: 30px;
  height: 30px;
  display: block;
  border-radius: 15px;
  background: currentColor;
  transform: scale(.73333);
  transition: transform .2s
}

.input-radio-color__item span:after,
.input-radio-color__item span:before {
  display: block;
  position: absolute;
  content: "";
  border-radius: 1000px
}

.input-radio-color__item span:before {
  left: 3px;
  top: 3px;
  width: 24px;
  height: 24px;
  background: #fff;
  transform: scale(0);
  transition: transform .2s
}

.input-radio-color__item span:after {
  left: 8px;
  top: 8px;
  width: 14px;
  height: 14px;
  background: currentColor;
  transform: scale(0);
  transition: transform .2s
}

.input-radio-color__item:hover input:enabled~span {
  transform: scale(.86667)
}

.input-radio-color__item input:enabled:checked~span,
.input-radio-color__item input:enabled:checked~span:after,
.input-radio-color__item input:enabled:checked~span:before {
  transform: scale(1)
}

.input-radio-color__item--disabled {
  cursor: default
}

.input-radio-color__item--disabled span {
  transform: scale(.75)
}

.input-radio-color__item--disabled span:before {
  transform: scale(1.33) rotate(45deg);
  left: 14px;
  top: -1px;
  width: 2px;
  height: calc(100% + 2px);
  background: rgba(0, 0, 0, .3)
}

.input-radio-color__item--white span,
.input-radio-color__item--white span:after {
  box-shadow: inset 0 0 0 2px #ccc
}

.input-radio-label {
  display: block;
  font-size: 14px;
  font-weight: 500
}

.input-radio-label__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -3px
}

.input-radio-label__list input {
  position: absolute;
  pointer-events: none;
  opacity: 0
}

.input-radio-label__list label {
  display: -ms-flexbox;
  display: flex;
  margin: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.input-radio-label__list span {
  cursor: pointer;
  display: block;
  height: 32px;
  padding: .3125rem 1rem;
  border-radius: 2px;
  background: #f0f0f0;
  color: #3d464d;
  transition: background-color .2s, color .2s
}

.input-radio-label__list input:not(:checked):not(:disabled)~span:hover {
  background: #e0e0e0;
  color: #3d464d
}

.input-radio-label__list input:checked~span {
  cursor: default;
  background: var(--primary-color);
  color: var(--text-color);
  transition-duration: .08s, .08s
}

.input-radio-label__list input:disabled~span {
  cursor: default;
  opacity: .5
}

textarea.form-control {
  overflow: auto;
  resize: vertical;
  height: auto;
}

//1387

.text-success {
  color: #28a745 !important;
}

.text-error {
  color: #d12525 !important;
}