<div class="block block-posts block-posts--layout--list-sm" data-layout="list-sm">
  <div class="container">
    <div class="block-header">
      <h3 class="block-header__title">Latest Posts</h3>
      <div class="block-header__divider"></div>
      <div class="block-header__arrows-list"><button class="block-header__arrow block-header__arrow--left" type="button"
          (click)="changeSlide(-1)"><svg width="7px" height="11px">
            <use xlink:href="images/sprite.svg#arrow-rounded-left-7x11"></use>
          </svg></button> <button class="block-header__arrow block-header__arrow--right" type="button"><svg width="7px"
            height="11px" (click)="changeSlide(1)">
            <use xlink:href="images/sprite.svg#arrow-rounded-right-7x11"></use>
          </svg></button></div>
    </div>
    <div class="block-posts__slider">
      <swiper-container #swiper [slidesPerView]="slidesPerView" [spaceBetween]="spaceBetween">
        @for (slide of postData; track slide.id; let i = $index) {
        <swiper-slide>
          <div class="post-card">
            <div class="post-card__image"><a href="#"><img [src]="slide.image" alt=""></a>
            </div>
            <div class="post-card__info">
              <div class="post-card__category"><a href="#">{{slide.category.name}}</a></div>
              <div class="post-card__name"><a href="#">{{slide.title}}</a></div>
              <div class="post-card__date">{{slide.createdAt}}</div>
              <div class="post-card__content" [innerHtml]="slide.description"></div>
              <div class="post-card__read-more"><a href="#" class="btn btn-secondary btn-sm">Read
                  More</a></div>
            </div>
          </div>
        </swiper-slide>
        }
      </swiper-container>
    </div>
  </div>
</div>