<div class="text-center mb-5">
  <div class="text-900 text-3xl font-medium mb-3">Forgot Password !</div>
</div>
@if(!isOptSend){
  <label for="otp">Enter Email  </label>
    <input id="username" type="text" placeholder="Enter Email " pInputText class="w-full mt-2 md:w-30rem mb-5"
           style="padding:1rem" [(ngModel)]="changePassObj.email">
  <button pButton pRipple label="Send Code" class="w-full p-3 text-xl" (click)="send()"></button>
} @else{
    <label for="otp" class="mb-2">Enter Otp </label>
    <input id="otp" type="text" placeholder="Enter Otp " pInputText class="w-full mt-2 md:w-30rem mb-5"
           style="padding:1rem" [(ngModel)]="changePassObj.otpCode">
    <label for="password">Password * </label>
    <p-password id="password" inputId="password" [(ngModel)]="changePassObj.password" placeholder="Password min 6 length"
                [toggleMask]="true"   styleClass="mb-5 mt-2 w-12" inputStyleClass="w-full p-3 md:w-30rem" autocomplete="password" />
    <label for="confirmPassword">Enter Confirm Password</label>
    <p-password id="confirmPassword" inputId="confirmPassword" [(ngModel)]="changePassObj.confirmPassword"
                placeholder="Must be match with Password" [toggleMask]="true"   styleClass="mb-5 mt-2 w-12" inputStyleClass="w-full p-3 md:w-30rem" autocomplete="password" />
    <button pButton pRipple label="Verify and Change Password" class="w-full p-3 text-xl" (click)="verifyAndChangePassword()"></button>
}



