

// Edit Mode Input Change Design Start.
.remove-focus {
  outline: 0 none !important;
  ;
  outline-offset: 0 !important;
  border: 1px solid var(--gray-300) !important;
  box-shadow: none !important;
  cursor: default !important;
  opacity: 1 !important;
}
// Verified Icon Color End

.boolForm {
  @extend .flex;
  align-items: flex-end;

  label,
  p {
    margin-right: 5px;
    margin-bottom: 8px;
  }
}

li {
  list-style: none
}
