.block-brands__slider {
  border: 2px solid #f0f0f0;
  border-radius: 2px
}

.block-brands__item {
  padding: 36px 24px
}

img {
  vertical-align: middle;
  display: block;
  width: 100%;
  border-style: none;
}
