<div class="block block-banner">
  <div class="container">
    <a [href]="slide?.url" class="block-banner__body">
      <div class="block-banner__image block-banner__image--desktop" style="background-image: url('{{ slide?.image }}')">
      </div>
      <div class="block-banner__image block-banner__image--mobile" style="
             background-image: url('{{ slide?.mblImage }}');
          "></div>
      <div class="block-banner__title" [innerHtml]="slide?.title">
      </div>
      <div class="block-banner__text" [innerHtml]="slide?.subTitle">
      </div>
      <div class="block-banner__button">
        <span class="btn btn-sm btn-primary" (click)="clickBtn( slide?.url)">Shop Now</span>
      </div>
    </a>
  </div>
</div>