<div class="page-header">
  <div class="page-header__container container">
    <div class="page-header__breadcrumb">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="index.html">Home</a>
            <svg class="breadcrumb-arrow" width="6px" height="9px">
              <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
            </svg>
          </li>
          <li class="breadcrumb-item">
            <a href="#">Breadcrumb</a>
            <svg class="breadcrumb-arrow" width="6px" height="9px">
              <use xlink:href="images/sprite.svg#arrow-rounded-right-6x9"></use>
            </svg>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Screwdrivers
          </li>
        </ol>
      </nav>
    </div>
    <div class="page-header__title"><h1>Screwdrivers</h1></div>
  </div>
</div>
<div class="container">
    <div class="shop-layout shop-layout--sidebar--start">
      <div class="shop-layout__sidebar">
        <div class="block block-sidebar">
          <div class="block-sidebar__item">
            <app-product-filter/>
          </div>
          <div class="block-sidebar__item d-none d-lg-block">
            <app-latest-products/>
          </div>
        </div>
      </div>
      <div class="shop-layout__content">
        <div class="block">
          <app-product-list-view/>
        </div>
      </div>
    </div>
  </div>