<div class="layout-topbar">
  <a class="layout-topbar-logo" routerLink="" [style]="'width:'+getLogoWidth()+'px'">
    <img src="assets/icon.png"
      alt="logo" [width]="45" [height]="25">
    <span>Family Bonding</span>
  </a>
  <button #menuButton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
    <i class="pi pi-bars"></i>
  </button>

  <div class="layout-topbar-menu-button">
    <button  class="p-link layout-topbar-button" #topBarSearchButton
             (click)="layoutService.showMobileSearchbar()">
      <i class="pi pi-search"></i>
    </button>
    <button #topBarMenuButton class="p-link layout-topbar-button"
            (click)="layoutService.showProfileSidebar()">
      <i class="pi pi-ellipsis-v"></i>
    </button>
  </div>

  <div class="topbar-search" #topBarSearch
       [ngClass]="{'layout-topbar-search-mobile-active': layoutService.state().mobileSearchBarActive}">
    <p-dropdown [options]="dropdownOption"
                optionLabel="label" optionValue="value"
                placeholder="All" styleClass="border-noround-right h-full flex align-item-center search-dropdown" id="addressType"/>
    <input
      type="text"
      pInputText
      id="search"
      [formControl]="searchControl"
      class="w-full border-noround-left"
      placeholder="Search Family Bonding"
    />
    @if(searchSuggestionDataList.length){
      <div class="search-suggestion">
        @for(item of searchSuggestionDataList;track item){
          <p>{{ item }}</p>
        }
      </div>
    }
  </div>

  <div #topBarMenu class="layout-topbar-menu"
    [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state().profileSidebarVisible}">
    <app-profile />
  </div>
</div>
